<ion-view view-title="Login" id="view-login">
  <ion-content scroll="false">
    <ion-slides options="options" slider="data.slider">
      <ion-slide-page class="slide-login">
        <div class="padding">
          <h2 class="text-center padding">Login</h2>

          <form name='loginForm' ng-submit="login()" class="list list-inset">
            <label class="item item-input">
             <i class="icon ion-at placeholder-icon"></i>
              <input type="email" placeholder="Email" ng-model="model.email" id="email">
            </label>
            <label class="item item-input">
              <i class="icon ion-locked placeholder-icon"></i>
              <input type="password" placeholder="Password" ng-model="model.password">
            </label>
            <button class="button button-full button-positive">Log in</button>
          </form>

          <h5 class="text-center padding">
            <a class="text-center link-qr" ng-click="swipeToScanner()">Or scan a code</a>
          </h5>

          <server-response model="model" ng-if="model.res"></server-response>
        </div>
      </ion-slide-page>

      <ion-slide-page ng-click="scan()">
        <div class="scanner-controlls">
          <button class="button button-large icon {{flashActive ? 'ion-ios-bolt' : 'ion-ios-bolt-outline'}}" ng-click="toggleFlash()"></button>
          <button class="button button-large icon {{reversedCamera ? 'ion-ios-reverse-camera' : 'ion-ios-reverse-camera-outline'}}"
            ng-click="switchCamera()"></button>
        </div>
      </ion-slide-page>
  </ion-content>

</ion-view>
