<ion-view view-title="Reset Password">
  <ion-content  class="padding">
    <h2 class="text-center padding">Reset Password</h2>

    <form name='resetForm' ng-submit="resetPassword()" class="list list-inline">
      <label class="item item-input">
        <i class="icon ion-at placeholder-icon"></i>
        <input type="email" placeholder="Email" ng-model="model.email" id="email">
      </label>
      <button class="button button-full button-positive" type="submit">Reset</button>
    </form>

    <server-response model="model" ng-if="model.res"></server-response>

  </ion-content>

</ion-view>
