<div class="card">
  <div class="item item-text-wrap row row-center">
    <div class="col col-90">
      <p class="message" ng-if="model.res.data.success && model.res.data.action === 'reset-password'">New Password: {{model.res.data.payload.verification_code__c}}</p>
      <p class="message" ng-if="model.res.data.success && model.res.data.action === 'validate'">Successfully logged in</p>
      <p class="message" ng-if="!model.res.data.success">Something went wrong: {{model.res.data.errorMessage}}</p>
    </div>
    <div class="col col-10">
      <button class="button button-icon icon ion-ios-close" ng-click="model.res = null"></button>
    </div>
  </div>
</div>
