<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <ion-tab title="Log In" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Reset Password" icon-off="ion-ios-loop" icon-on="ion-ios-loop-strong" href="#/tab/reset-password">
    <ion-nav-view name="tab-reset-password"></ion-nav-view>
  </ion-tab>



</ion-tabs>
