/* Empty. Add your own CSS if you like */
html, body, ion-tabs, #view-login {
  background: transparent !important;
}

.slide-login {
  background: #ffffff;
}

.scanner-controlls {
  width: 100%;
  position: absolute;
  bottom: 2rem;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link-qr:hover {
  cursor: pointer;
}
